@charset "UTF-8";
:root {
    --azul: #004a7f;
}

/* Formato para Tablets */

@media screen and (min-width: 768px) and (max-width: 992px){
    body h2 {
        font-size: 2.0em;
    }
    body p {
        font-size: 1.0em;
    }
    header img#contatotopo {
        transform: translateX(45%);
    }
    header div#menu p {
        font-size: 1.3em;
        padding: 20px 20px;
    }
    main div#secaoempresa div#secao1 {
        display: flex;
        align-items: flex-start;
    }
    main div#secaoempresa div#secao1 p{
        flex: 1;
    }
    main div#secaoempresa div#secao1 img{
        width: 45%;
    }
    main div#secaoempresa div#secao2 p{
        position: absolute;
        display: inline-block;
        width: 50%;
        vertical-align: top;
        right: 0;
    }
    main div#secaoempresa div#secao2 img{
        display: inline-block;
        width: 45%;
    }
    main div#secaoempresa div#secao3 {
        display: flex;
        align-items: flex-start;
    }
    main div#secaoempresa div#secao3 p{
        flex: 1;
    }
    main div#secaoempresa div#secao3 img{
        width: 45%;
    }
    main div#secaoprodutos img#folderpdf {
        width: 80px;
    }
    main div#secaoclientes p {
        transform: translateY(80px);
    }
}

/* Formato para Pc */

@media screen and (min-width: 993px) {
    body {
        max-width: 1000px;
        margin: auto;
        background-color: hsla(205, 100%, 25%, 0.700);
    }
    header{
        max-width: 1000px;
        background-color: white;
    }
    header div#cabecalho img#logotopo {
        width: 30%;
    }
    header div#cabecalho img#contatotopo {
        width: 15%;
        transform: translateX(400px);
    }
    header div#menu p:hover {
        cursor: pointer;
    }
    main {
        max-width: 1000px;
        background-color: white;
    }
    main div#secaoempresa div#secao1 {
        display: flex;
        align-items: flex-start;
    }
    main div#secaoempresa div#secao1 p{
        flex: 1;
    }
    main div#secaoempresa div#secao1 img{
        width: 45%;
    }
    main div#secaoempresa div#secao2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    main div#secaoempresa div#secao2 p{
        flex: 1;
    }
    main div#secaoempresa div#secao2 img{
        width: 45%;
    }
    main div#secaoempresa div#secao3 {
        display: flex;
        align-items: flex-start;
    }
    main div#secaoempresa div#secao3 p{
        flex: 1;
    }
    main div#secaoempresa div#secao3 img{
        width: 45%;
    }
    main div#secaoprodutos .download:hover {
        cursor: pointer;
    }
    footer {
        max-width: 1000px;
    }
    footer p#insta:hover {
        cursor: pointer;
    }
}