@charset "UTF-8";
@font-face {
    font-family: 'Futura Md Bt';
    src: url('../fontes/FuturaMediumBT.ttf') format(truetype);
}
@font-face {
    font-family: 'Futura Bold Bt';
    src: url('../fontes/FuturaBoldBT.ttf') format(truetype);
}

:root {
    --azul: #004a7f;
}

*{
    margin: 0px;
    padding: 0px;
}
body {
    width: 100vw;
}

/* Estilo do header */
header {
    height: 25vh;
}
header img {
    display: inline-block;
    position: absolute;
    width: 55vw;
    top: 1%;
    left: 1%;
}
header div#contato {
    display: inline-block;
    position: absolute;
    right: 8%;
    top: 3%;
}
header div#contato p {
    font-family: 'Futura Bold Bt';
    color: var(--azul);
    font-size: 0.9em;
}
header div#menu {
    position: relative;
    display: block;
    background-color: var(--azul);
    height: 10vh;
    top: 60%;
    text-align: center;
}
header div#menu p {
    position: relative;
    display: inline-block;
    font-family: 'Futura Md Bt';
    font-size: 1.2em;
    color: white;
    padding: 2%;
    top: 25%;
}

/* Seção principal */

/* Empresa */

main div#empresa {
    border-bottom: 2px solid var(--azul);
}
main div#empresa h2 {
    position: absolute;
    font-family: 'Futura Bold Bt';
    z-index: 2;
    left: 7%;
    transform: translateY(50%);
    color: var(--azul);
}
main div#empresa img#solucoes {
    width: 100vw;
}
main div#empresa p {
    padding: 10px;
    font-family: 'Futura Md Bt';
    color: var(--azul);
}

/* Produtos */

main div#produtos {
    background-image: url('../imagens/fundoprodutos.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}
main div#produtos h2 {
    font-family: 'Futura Bold Bt';
    padding: 10px;
    color: var(--azul);
    z-index: 1;
}
main div#produtos p {
    font-family: 'Futura Md Bt';
    color: var(--azul);
    padding: 0px 10px;
    z-index: 1;
}
main div#produtos img#produto1 {
    position: relative;
    transform: translateY(10%);
    width: 100vw;
    padding: 20px 0px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}
main div#produtos img#produto2 {
    position: absolute;
    transform: translateY(10%);
    width: 100vw;
    padding: 20px 0px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}
main div#produtos img#produto3 {
    position: absolute;
    transform: translateY(10%);
    width: 100vw;
    padding: 20px 0px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}
main div#produtos img#produto4 {
    position: absolute;
    transform: translateY(10%);
    width: 100vw;
    padding: 20px 0px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}
main div#produtos img#produto5 {
    position: absolute;
    transform: translateY(10%);
    width: 100vw;
    padding: 20px 0px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}
main div#produtos img#folderpdf {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 50px;
    left: 50%;
    
}
main div#produtos p#download {
    font-family: 'Futura Md Bt';
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--azul);
    color: white;
    padding: 8px;
    border-radius: 10px;
    
    z-index: 1;
}
main div#produtos {
    border-bottom: 2px solid var(--azul);
}

/* Clientes */

main div#clientes h2 {
    position: absolute;
    font-family: 'Futura Bold Bt';
    padding: 10px;
    color: var(--azul);
}
main div#clientes p {
    position: absolute;
    transform: translateY(40px);
    font-family: 'Futura Md Bt';
    color: var(--azul);
    padding: 0px 10px;
}
main div#clientes img#clientes {
    width: 100vw;
}

/* Rodapé */

footer {
    background-color: var(--azul);
    padding: 20px;
}
footer p {
    font-family: 'Futura Md Bt';
    color: white;
}
footer #localizacao {
    width: 90vw;
    padding: 20px 0px;
}
footer #social {
    width: 20px;
    transform: translateY(35%);
    padding: 10px 0px;
}
footer #logo {
    display: block;
    padding-top: 30px;
    width: 70vw;
    margin: auto;
}