@charset "UTF-8";
@font-face {
    font-family: 'Futura Md Bt';
    src: url('../fontes/FuturaMediumBT.ttf') format(truetype);
}
@font-face {
    font-family: 'Futura Bold Bt';
    src: url('../fontes/FuturaBoldBT.ttf') format(truetype);
}

:root {
    --azul: #004a7f;
}

*{
    margin: 0px;
    padding: 0px;
}
body {
    width: 100vw;
}

/* Estilo do header */

header img {
    width: 100%;
}
header div#menu {
    text-align: center;
    background-color: var(--azul);
}
header div#menu p {
    position: relative;
    display: inline-block;
    font-family: 'Futura Md Bt';
    font-size: 1.2em;
    background-color: var(--azul);
    color: white;
    padding: 2%;
    top: 25%;
}

/* Seção principal */

/* Empresa */

main div#secaoempresa {
    border-bottom: 2px solid var(--azul);
    background-image: url('../imagens/fundo.png');
    background-position: center;
    background-size: cover;
}
main div#secaoempresa h2 {
    position: absolute;
    font-family: 'Futura Bold Bt';
    z-index: 2;
    left: 7%;
    transform: translateY(50%);
    color: var(--azul);
}
main div#secaoempresa img {
    width: 100%;
}
main div#secaoempresa p {
    padding: 10px;
    font-family: 'Futura Md Bt';
    color: var(--azul);
}

/* Produtos */

main div#secaoprodutos {
    background-image: url('../imagens/fundoprodutos.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}
main div#secaoprodutos h2 {
    font-family: 'Futura Bold Bt';
    padding: 10px;
    color: var(--azul);
    z-index: 1;
}
main div#secaoprodutos p {
    font-family: 'Futura Md Bt';
    color: var(--azul);
    padding: 0px 10px;
    z-index: 1;
}
main div#secaoprodutos img#produto1 {
    position: relative;
    transform: translateY(10%);
    width: 100%;
    padding: 20px 0px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}
main div#secaoprodutos img#produto2 {
    position: absolute;
    transform: translateY(10%);
    width: 100%;
    padding: 20px 0px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}
main div#secaoprodutos img#produto3 {
    position: absolute;
    transform: translateY(10%);
    width: 100%;
    padding: 20px 0px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}
main div#secaoprodutos img#produto4 {
    position: absolute;
    transform: translateY(10%);
    width: 100%;
    padding: 20px 0px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}
main div#secaoprodutos img#produto5 {
    position: absolute;
    transform: translateY(10%);
    width: 100%;
    padding: 20px 0px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}
main div#secaoprodutos img#folderpdf {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 50px;
    left: 50%;
    
}
main div#secaoprodutos p#download {
    font-family: 'Futura Md Bt';
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--azul);
    color: white;
    padding: 8px;
    border-radius: 10px;
    
    z-index: 1;
}
main div#secaoprodutos {
    border-bottom: 2px solid var(--azul);
}

/* Clientes */

main div#secaoclientes h2 {
    position: absolute;
    font-family: 'Futura Bold Bt';
    padding: 10px;
    color: var(--azul);
}
main div#secaoclientes p {
    position: absolute;
    transform: translateY(40px);
    font-family: 'Futura Md Bt';
    color: var(--azul);
    padding: 0px 10px;
}
main div#secaoclientes img#clientes {
    width: 100%;
}

/* Rodapé */

footer {
    background-color: var(--azul);
    padding: 20px;
}
footer p {
    font-family: 'Futura Md Bt';
    color: white;
}
footer #localizacao {
    display: block;
    margin: auto;
    width: 90%;
    padding: 20px 0px;
}
footer #social {
    width: 20px;
    transform: translateY(35%);
    padding: 10px 0px;
}
footer #logo {
    display: block;
    padding-top: 30px;
    width: 70%;
    margin: auto;
}